.btn-info{
    background-color: rgb(210, 219, 219);
    color: purple;
    padding: .7rem;
    border-radius: 10px;
    margin: 10px;
    width: 5rem;
    font-weight: bold;
    font-size: medium;
}

.btn-back{
    background-color: rgb(210, 219, 219);
    color: purple;
    padding: .7rem;
    border-radius: 10px;
    margin: 10px;
    width: 5rem;
    font-weight: bold;
    font-size: medium;
}